Package: user_service
Version: 1
Depends: libc
Source: package/user_service
Section: utils
Architecture: ar71xx
Installed-Size: 1198
Description:  If you can't figure out what this program does, you're probably
 brain-dead and need immediate medical attention.
